[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
deepdiff = "*"
colorama = "*"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
pipeline="python run.py"
validate="python validate.py"
clear="python clear.py"
